@model IEnumerable<SavedMessages.DataAccessLayer.Entities.Message>

@{
    ViewBag.Title = "GetMyMessages";
}

<h2>GetMyMessages</h2>

<p>
    @Html.ActionLink("Create New", "CreateMessage")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MessageText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MessageText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.ActionLink("SaveMessage", "SaveMessage", new { id=item.MessageId }) |
            @Html.ActionLink("Delete", "DeleteMessage", new { id=item.MessageId })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Back to MyInfo", "MyDetails") |
    @Html.ActionLink("Saved Messages", "GetSavedMessages")
</p>